/* Container styling */
.container {
  padding: 40px;
  background-color: #f0f2f5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Centering the form */
.form-wrapper {
  width: 100%;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Title styling */
.title {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

/* Form group styling */
.form-group {
  margin-bottom: 15px;
}

/* Label styling */
label {
  display: block;
  margin-bottom: 5px;
  color: black;
  
}

/* Input field styling */
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #0070f3;
  outline: none;
}

/* Save button styling */
button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #0070f3;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005bb5;
}

/* Margin for the save button */
.btn {
  margin-top: 20px;
}

/* Error message styling */
.alert {
color: #721c24;
background-color: #f8d7da;
border-color: #f5c6cb;
padding: 10px;
margin-bottom: 20px;
border: 1px solid transparent;
border-radius: 4px;
}
